@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, html {
  font-family: 'Montserrat', 'Arial', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #09434b;
  background-image: url(../imagens/fotodofundo-cadastro.png); /*Imagem*/
 /*Colocando a imagem no centro*/
  background-repeat: no-repeat;
  overflow-x: hidden;

}

.elementos-topo {
  position: absolute;
  color: white;
  font-size: 19px;
  padding: 3em;

  width: 750px;
  top: -34px;
  left: -11px;
  z-index: 0;
}

.bolinha {
  position: absolute;
  background-color: rgba(10, 78, 83, 0.568);
  border-radius: 50%;
  height: 750px;
  width: 750px;
  top: -387px;
  left: -57px;
  z-index: -1;
  
}

#container {
  display: flex; /*Transforma o elemento em um container flexível*/
  align-items: center;
  justify-content: center;
  flex-direction: column; /*Define a direção dos elementos filhos como vertical (coluna)*/
  width: 700px;
  margin-top: 30em;
}

#formCadastro > .titulos { /*Título*/
    /* margin-left: 6px; */
    margin: 17px 0px 5px 0px;
    font-size: 40px;
    color: #ffffff;
    text-indent: 25px;
    text-align: start

}



#informacoes-pessoais, #informacoes-complementares, #informacoes-acesso {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
  gap: 15px 30px; /* Espaço entre linhas e colunas */
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.campo {
  display: flex;
  flex-direction: column; /* Faz o label ficar em cima do input */
}

.campo label {
  margin-bottom: 5px;
  font-weight: bold;
}

.campo input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20em;
}

.campo button {
  margin-top: 23px;
  padding: 10px;
  font-size: 1rem;
  width: 10em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 23px;
  background-color: rgb(10, 78, 83); /*Cor do fundo*/
  color: white; /*Cor do texto*/
}


#buscar:hover {
  background-color: rgb(10, 56, 83); /*Cor do fundo*/
  cursor: pointer;
}







/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  #botoes {
    margin-left: 150px; /*Move os botões 15px para a esquerda*/
  }

  .cadastro {
    width: 60%; /*Largura*/
  }
}


@media (max-width: 1024px) {
  form {
    margin-left: 25%; /*Move as caixas 5% para a esquerda*/
  }

  #botoes {
    margin-right: 10em; /*Move os botões 10em para a direita*/
  }

  .cadastro {
    width: 55%; /*Largura*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  form {
    margin-left: 10%; /*Move as caixas 10% para a esquerda*/
  }

  #caixaesquerda, #caixadireita { /*Caixas que estão os campos*/
    height: 60%; /*Altura*/
  }

  #botoes { /*Posição dos botões*/
    margin-left: 150px; /*Move os botões 95px para a esquerda*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  form {
    margin-left: 5%; /*Move as caixas 3% para a esquerda*/
  }

  h2 {
    font-size: 200%; /*Tamanho da letra*/
  }
  
  h3 {
    font-size: 90%; /*Tamanho da letra*/
  }
  
  h4 {
    font-size: 100%; /*Tamanho da letra*/
  }

  p {
    font-size: 80%; /*Tamanho da letra*/
  }

  select {
    font-size: 10px; /*Tamanho da letra*/
  }

  input, select, button, textarea {
    height: 4%; /*Altura*/
    max-width: 200px; /*Largura máxima*/
  }

  .cadastro {
    width: 80%; /*Largura*/
  }

  #caixaesquerda, #caixadireita { /*Caixas que estão os campos*/
    height: 35rem; /*Altura*/
  }

  #caixaesquerda input, #caixadireita input{
    height: 1rem; /*Altura*/
  }

  #buscar {
    width: 100px; /*Largura*/
    height: 2rem; /*Altura*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  form {
    margin-left: 3%; /*Move as caixas 3% para a esquerda*/
  }

  .cadastro {
    width: 90%; /*Largura*/
  }

  #botoes { /*Posição dos botões*/
    margin-left: 95px; /*Move os botões 95px para a esquerda*/
  }
}


@media(max-width: 360px) {
  form {
    margin-left: 2%; /*Move as caixas 2% para a esquerda*/
  }

  .cadastro {
    width: 90%; /*Largura*/
  }

  #botoes { /*Posição dos botões*/
    margin-left: 55px; /*Move os botões 55px para a esquerda*/
  }
}
