@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right,rgb(0, 255, 98),rgb(2, 121, 0)); /* Verde para azul */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
       flex-direction: column;       /* ESSENCIAL: empilha o título e form */
    justify-content: center;      /* centraliza verticalmente */
    align-items: center;          /* centraliza horizontalmente */
    color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    width: 350px;
    align-items: center; /* Centraliza conteúdo horizontalmente */

  
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
    color: #e0e0e0;
}



button {
    align-items: center; /* Centraliza conteúdo horizontalmente */
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
 

   
}

button.atualizar {
    background: linear-gradient(135deg,rgba(126, 255, 242, 0.78) 0%, #66a6ff 100%);
    color: white;
}

button.atualizar:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(102, 166, 255, 0.5);
}

button.btn-danger {
    background: linear-gradient(135deg, #ff6a6a 0%, #ff3d3d 100%);
    color: white;
}

button.btn-danger:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(255, 61, 61, 0.5);
}