body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #a8e063, #56ab2f);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 300px;
}


label {
    font-weight: bold;
    color: #e6ffe6;
}


input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    transition: 0.3s;
}


input:focus {
    background: rgba(255, 255, 255, 0.6);
    color: #333;
}


button {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #00a00d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


button:hover {
    background: #388e3c;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}