@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, html {
  font-family: 'Montserrat', 'Arial', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #09434b;
  background-image: url(../imagens/fotodofundo-recortada.png); /*Imagem*/
 /*Colocando a imagem no centro*/
  background-repeat: no-repeat;
  overflow-x: hidden;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imagem-logo {
  width: 100px;
  border-radius: 50%;
}

.texto-logo {
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  color: white;
  margin: 17px -46px;
}

#conteudo > .form { /*Formatação da caixa no meio*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 325px;
  height: 400px;
  border-radius: 5%;
  box-sizing: border-box;
  gap: 16px;
  background-color: rgba(0, 128, 73, 0.233);
  border: 1px solid rgba(46, 121, 88, 0.767);
  box-shadow: 1px 1px 1px black;
  margin-bottom: 30px;
}

h1 { /*Título*/
  color: rgb(255, 255, 255); /*Cor do texto*/
  margin-left: 6px; /*Move o título 6px para a esquerda*/
  margin-top: 2%; /*Move o título 2% para baixo*/
}

input { /*Links*/
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  /* padding: 13px 10px; */
  color: rgb(3, 22, 24);
  border-radius: 17px;
  border: none;
  outline: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.2s ease, transform 0.2s ease; 
}

input:hover {
  background-color: #bbd5d8;
}

.botoes{
  margin-bottom: 10px;
}

#botao-criar-conta, #botao-entrar { /*Formatação dos campos de entrada*/
  width: 80%;
  height: 40px;
  border-radius: 17px;
  /* padding: 13px 10px; */
  border: none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  color: white;
  background-color: #0a4e53;
  transition: background-color 0.3s ease, color 0.2s ease, transform 0.2s ease;
}


#botao-entrar:hover, #botao-criar-conta:hover {
  background-color: #09334b;
  color: white;
}


a {
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease, transform 0.2s ease;
}

a:hover {
  color: #43a8b6;
}













/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  #comeco {
    width: 25%; /*Largura*/
    height: 55%; /*Altura*/
    left: 43%; /*Move a caixa 43% para a esquerda*/
  }
}


@media (max-width: 1024px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 40%; /*Largura*/
    height: 60%; /*Altura*/
    left: 29%; /*Move a caixa 34% para a esquerda*/
    top: 25%; /*Move a caixa 25% para baixo*/
  }

  input[type="text"], input[type="password"] {
    margin-left: 10px; /*Move ambos os inputs 9px para a esquerda*/
  }

  button {
    margin-left: 10px; /*Move ambos os inputs 9px para a esquerda*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 40%; /*Largura*/
    height: 37%; /*Altura*/
    left: 30%; /*Move a caixa 30% para a esquerda*/
    top: 35%; /*Move a caixa 35% para baixo*/
  }

  input[type="text"], input[type="password"] {
    margin-left: 10px; /*Move ambos os inputs 9px para a esquerda*/
  }

  button {
    margin-left: 26px; /*Move ambos os inputs 9px para a esquerda*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 80%; /*Largura*/
    height: 50%; /*Altura*/
    left: 10%; /*Move a caixa 10% para a esquerda*/
    top: 30%; /*Move a caixa 30% para baixo*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 60%; /*Largura*/
    left: 20%; /*Move a caixa 20% para a esquerda*/
  }
}


@media(max-width: 375px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 90%; /*Largura*/
    height: 50%; /*Altura*/
    left: 5%; /*Move a caixa 5% para a esquerda*/
  }
}


@media(max-width: 344px) {
  body { 
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 95%; /*Largura*/
    height: 50%; /*Altura*/
    left: 2%; /*Move a caixa 2% para a esquerda*/
    top: 30%; /*Move a caixa 30% para baixo*/
  }
}
