#mapa {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#map {
  display: flex;
  width: 70%; /*Largura*/
  height: 500px; /*Altura*/


  border-radius: 20px;
  outline: 2px solid green ;
}



.comlurb, p {

  left: 15%; /*Move o mapa 10% para a esquerda*/
}


p {

  font-size: 127%; /*Tamanho da fonte*/
  font-family: 'Times New Roman', Times, serif; /*Tipo de fonte*/
  margin: 20px; /*Espaçamento externo do elementos*/
}


h1 {
  color: #468749; /*Cor do texto*/
  font-family: 'Times New Roman', Times, serif; /*Tipo de fonte*/
  font-size: 250%; /*Tamanho da fonte*/
}


footer {
  background-color: #468749; /*Cor de fundo*/
  color: white; /*Cor do texto*/
  padding: 20px; /*Espaçamento entre o conteudo e borda*/
}


.footer-container {
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  justify-content: space-between; /*Alinha os elementos horizontalmente*/
  width: 70%; /*Largura*/
  margin-left: 250px; /*Move o texto 250px para a esquerda*/
}


.integrantes, .contatos {
  margin: 0 20px; /*Espaçamento externo do elemento*/
}


.contatos {
  margin-bottom: 10px; /*Margem inferior*/
}


.lista {
  list-style-type: none; /*Remover os marcadores de lista*/
  padding: 0; /*Espaçamento entre o conteudo e borda*/
}


.nome {
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item {
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  align-items: center; /*Centraliza os itens*/
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item i {
  margin-right: 5px; /*Move os ícones 5px para a direita*/
  color: #fff; /*Cor dos ícones*/
}


.fas, .fab {
  font-size: 120%; /*Tamanho dos ícones*/
}





/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  .footer-container {
    width: 60%; /*Largura*/
  }
}


@media (max-width: 1024px) {
  .footer-container {
    margin-left: 150px; /*Move as caixas 150px para a esquerda*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  a {
    font-size: 110%; /*Tamanho da fonte*/
    padding: 5px 5px; /*Espaçamento entre o conteudo e borda*/
  }

  .footer-container {
    margin-left: 2px; /*Move o texto 2px para a esquerda*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  .footer-container {
    margin-left: 90px; /*Move o texto 90px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 375px) {
  .menu5 {
    text-indent: 10px; /*Recuo do texto*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  #map {
    height: 300px; /*Altura*/
  }

  .comlurb, p {
    font-size: 90%; /*Tamanho da fonte*/
  }

  .footer-container {
    margin-left: 30px; /*Move o texto 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}

@media(max-width: 344px) {
  .menu5 {
    text-indent: 10px; /*Recuo do texto*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  #map {
    height: 300px; /*Altura*/
  }

  .comlurb, p {
    font-size: 90%; /*Tamanho da fonte*/
  }

  .footer-container { 
    margin-left: 25px; /*Move o texto 25px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}
