@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, html {
  font-family: 'Montserrat', 'Arial', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}


header { /*Imagem no topo*/
  display: flex;
  flex-direction: row;
  padding: 3em; /*Espaçamento entre o conteudo e borda*/
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.sessoes{
  margin-left: 50px;
}


#borda-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}


/* Dropdown container */
.user-dropdown {
  position: relative;
}


/* Estilo do botão do usuário */
.user-button {
  cursor: pointer;
}


/* Submenu oculto por padrão */
.user-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 20px;
  background-color: #007049; /* Verde médio */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  min-width: 150px;
  z-index: 10;
}


/* Links do submenu */
.user-submenu a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}


.user-submenu a:hover {
  background-color: green;
}


/* Exibir submenu ao passar o mouse */
.user-dropdown:hover .user-submenu {
  display: block;
}


#logo {
  max-width: 100px;
  max-height: 100px;
}


#menu { /*Menu no topo da página*/
  display: flex;
  margin-left: 100px;
  padding: 14px;
  /* text-indent: 40px; */
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
}


#borda-menu {
  border: 2px solid #00804d;
  padding: 20px 0px;
  width: 106%;
  text-align: center;
  border-radius: 20px;
  background-color: #007049;
}


a { /*Os links no menu*/
  color: rgb(255, 255, 255);
  padding: 0px 39px;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease; 
}


.link:hover {
  color: #60cc96;
}


.user-button:hover{
  color: #60cc96;
}


.selecionado {
  color: #60cc96;
}