@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*, html {
  font-family: 'Montserrat', 'Arial', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

header { /*Imagem no topo*/
  display: flex;
  flex-direction: row;
  padding: 3em; /*Espaçamento entre o conteudo e borda*/
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.sessoes{
  margin-left: 50px;
 
}

.usuario {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #800000;
  padding: 12px 14px;
  border-radius: 15px;
  margin: 0 10px; /*Margem lateral*/
}

.user {
  list-style: none; /*Remove os marcadores padrão de todas as listas de um site*/
  display: flex; /*Utilizada para organizar os elementos*/
  margin: 0; /*Margem lateral*/
  padding: 0; /*Espaçamento entre o conteudo e borda*/
}

.sair {
  color: black; /*Cor do texto*/
  text-decoration: none; /*Remove o sublinhado de links*/
  padding: 0px;
}

.sair:hover { 
  color: #008049; /*Cor do texto*/
}

#user-icon {
  width: 30px;
}

#logo {
  max-width: 100px;
  max-height: 100px;
}

#menu { /*Menu no topo da página*/
    margin-left: 100px;
    /* padding: 14px; */
    /* text-indent: 40px; */
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  
}


 #borda-menu {
  border: 2px solid #00804d;
  padding: 20px 0px;
  width: 106%;
  text-align: center;
  border-radius: 20px;
  background-color: #007049;
  
 }

a { /*Os links no menu*/
 
  color: rgb(255, 255, 255);
  padding: 0px 39px;
  text-decoration: none;
  transition: color 0.2s ease, transform 0.2s ease; 
;
  
}

a:hover {
  color: #60cc96;
}

.selecionado {
  color: #60cc96;
}

