
main {
  margin-left: 10px;
}

#elementos  {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 120px;
  padding: 50px;
}

img { /*Ajeitando as imagens*/
  max-width: 500px; /*Largura*/
}

#titulo { /*Título do site*/
  color: #008049; /*Cor do texto*/
  font-size: 63px;
  text-align: center;
}

#container-sobrenos {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #008049;
  color: white;
  max-width: 900px;
  /* height: 459px; */
  border-radius: 35px;
  padding: 19px;
}

p { /*O texto escrito no site*/
  font-size: 20px;
  margin: 20px; /*Espaço entre caixa e marguem da página*/
}

footer { /*Rodape completo*/
  background-color: #46876e; /*Cor do rodape*/
  color: white; /*Cor do texto*/
  padding: 20px; /*Espaçamento entre o conteudo e borda*/
}


.footer-container { /*Todos os div estão dentro dessa classe*/
  display: flex; /*Utilizada para organizar os elementos*/
  justify-content: space-between; /*Distribui os elementos de forma igual ao longo da linha*/
  width: 70%; /*Largura*/
  margin-left: 250px; /*Move o texto 250px para a esquerda*/
}

.integrantes, .contatos { /*As duas listas*/
  margin: 0 20px; /*Espaço entre caixa e marguem da página*/
}

.contatos { /*Lista de contato*/
  margin-bottom: 10px; /*Margem de botão*/
}

.lista { /*Lista dos nomes*/
  list-style-type: none; /*Maneira abreviada de se escrever uma só declaração para duas das propriedades para listas*/
  padding: 0; /*Espaçamento entre o conteudo e borda*/
}

.nome { /*Os próprios nomes*/
  margin: 5px 0; /*Espaço entre caixa e marguem da página*/
}

.contact-item { /*Os próprios itens*/
  display: flex; /*Utilizada para organizar os elementos*/
  align-items: center; /*Controlar o alinhamento de itens*/
  margin: 5px 0; /*Espaço entre caixa e marguem da página*/
}

.contact-item i { /*Icones*/
  margin-right: 5px; /*Move os itens a 5px para a direita*/
  color: #fff; /*Cor do ícone*/
}

.fas, .fab { /*Estilos para ícones*/
  font-size: 120%; /*Tamanho da fonte*/
}

/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  .menu2 {
    text-indent: 5px; /*Recuo da linha*/
  }

  a {
    font-size: 120%; /*Tamanho da fonte*/
    padding: 14px 14px; /*Espaçamento entre o conteudo e borda*/
  }

  .footer-container {
    width: 60%; /*Largura*/
  }
}


@media (max-width: 1024px) {
  a {
    font-size: 140%; /*Tamanho da fonte*/
  }

  .footer-container {
    margin-left: 150px; /*Move o texto 150px para a esquerda*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  a {
    font-size: 140%; /*Tamanho da fonte*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  .menu2 {
    text-indent: 10px; /*Recuo da linha*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  img {
    width: 350px; /*Largura*/
    height: 300px; /*Altura*/
  }

  .footer-container {
    margin-left: 2px; /*Move as caixas 250px para a esquerda*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  img {
    width: 350px; /*Largura*/
    height: 300px; /*Altura*/
  }

  .footer-container {
    margin-left: 100px; /*Move as caixas 100px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 375px) {
  .menu2 {
    text-indent: 10px; /*Recuo da linha*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  img {
    width: 300px; /*Largura*/
    height: 200px; /*Altura*/
  }

  .footer-container { 
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 344px) {
  img {
    width: 250px; /*Largura*/
    height: 200px; /*Altura*/
  }

  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}
